/*
 * @2019 All rights are reserved
 * ${author} Chiragkumar Maniyar
 */
body {
  width: 100%;
  overflow-x: hidden;
  background: #36d1dc; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #5b86e5,
    #36d1dc
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #5b86e5,
    #36d1dc
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#game-header {
  font-family: cursive;
  box-shadow: 10px 5px 10px 26px;
  padding: 1rem;
  box-shadow: inset 3px 2px 10px 0px;
}

.interaction-window {
  background: white;
}

.shadow {
  box-shadow: 1px 1px 4px 2px;
}

.text-gray {
  color: gray;
}

.game-info {
  background-color: lightblue;
  border: 1px solid lightblue;
  border-radius: 5px;
  font-weight: bold;
  bottom: 0;
  font-family: cursive;
}

.score-window {
  font-family: cursive;
}

.height {
  min-height: 87vh;
  height: 100%;
}

#username {
  width: 15rem;
  border: none;
  text-align: center;
}

.mt-10 {
  margin-top: 10rem;
}

#highestScores .row:nth-child(even) {
  background-color: lightcyan;
  margin: 0;
  box-shadow: 0px 0px 2px 1px;
}

#highestScores .row:nth-child(odd) {
  background-color: lightgrey;
  margin: 0;
  box-shadow: 0px 0px 2px 1px;
}

@media only screen and (max-width: 600px) {
  #color-font {
    width: 40%;
  }

  #color-text {
    width: 40%;
  }
}
